.homepage {
  text-align: center;
  padding: 20px;
  background-color: lightgray;
}

.artist-gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.artist-card {
  text-align: center;
  max-width: 200px;
}

.artist-image {
  width: 500px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.artist-card p {
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

/* Destaque ao passar o mouse */
.artist-card:hover {
  transform: scale(1.1);
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.artist-card:hover .artist-image {
  box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.3);
}