* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#navbar {
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.3s;
}

.login-form {
    background-color: white;
    padding: 30px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    margin-top: 150px;
}

.group {
    margin-bottom: 15px;
}

.label {
    font-size: 16px;
    margin-bottom: 5px;
    display: block;
    color: #333;
}

.input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    outline: none;
}

.input:focus {
    border-color: #888;
}

.check {
    margin-right: 10px;
}

.button {
    background-color: #eb910a;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.button:hover {
    background-color: #f1a83b;
}

.hr {
    border-top: 1px solid #ddd;
    margin: 20px 0;
}

.foot-lnk {
    text-align: center;
}

.foot-lnk a { 
    text-decoration: none;
    color: #eb910a;
}

.foot-lnk a:hover {
    text-decoration: underline;
}